html{
    background-image: url("https://miro.medium.com/max/1024/1*9WeJrBj6pp-qnGjRGg2NUw.png");
}
.one{
    padding: 10px 3px;
    text-align: left;
}
.one h4{
    font-family: 'Open Sans', sans-serif;
    position: relative;
    color: #dc0013;
    line-height: 1;
    padding: 5px 0;
    margin: 0;
    display: inline-block;
}


.two {
    padding: 50px 20px;
    text-align: center;
}
.two h1 {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    color: #5C2610;
    font-size: 3em;
    font-weight: normal;
    line-height: 1;
    padding: 10px 0;
    margin: 0;
    display: inline-block;
}
.two h1:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    height: 200%;
    border-radius: 50%/30%;
    border: 6px solid #5C2610;
    border-left-color: transparent;
    border-right-color: transparent;
}
@media (max-width: 420px) {
    .two h1 {font-size: 2em;}
}